button {
  display: inline-block;
  position: absolute;
  left: 175px;
  top: 8px;
}
input {
  display: inline-block;
  position: relative;
}
table{
  position: relative;
  top: 50px;
}
table, th, td {
    border: 1px solid black;
}
th{
  background-color: lightblue;
}
